Source: mitamae
Section: admin
Priority: optional
Maintainer: Kasumi Hanazuki <kasumi@rollingapple.net>
Build-Depends:
  debhelper (>= 11),
  ruby, curl, git, rake, bison,
  libssl-dev, libyaml-dev
Standards-Version: 4.1.4
Homepage: https://github.com/itamae-kitchen/mitamae
Vcs-Browser: https://github.com/itamae-kitchen/mitamae
Vcs-Git: https://github.com/itamae-kitchen/mitamae

Package: mitamae
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Configuration management tool embedding mruby
 Configuration management tool embedding mruby, which is alternative
 implementation of Itamae
