#!/usr/bin/make -f
export DH_VERBOSE = 2

export MRUBY_YAML_USE_SYSTEM_LIBRARY=1

%:
	dh $@ --builddirectory=mruby

override_dh_update_autotools_config:

override_dh_clean:
	dh_clean
	if test -d mruby; then make -C mruby clean; fi

override_dh_auto_configure:
	rake mruby
	dh_auto_configure

override_dh_auto_build:
	dh_auto_build -- MRUBY_CONFIG=../build_config.rb

override_dh_auto_test:

override_dh_auto_install:
	install -d debian/tmp/usr/bin
	install -t debian/tmp/usr/bin mruby/build/host/bin/mitamae
